:root {
  --primary-color: #5bf870;
  --secondary-color: #25632d;
  --dark: #050505;
  --bg: #05321e;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  outline: none;
}
a:link,
a:visited {
  color: var(--secondary-color);
}
a:hover {
  color: var(--primary-color);
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--dark);
  color: var(--primary-color);
}

/* http://aleclownes.com/2017/02/01/crt-display.html */
#crt,
pre {
  font-family: 'VT323', monospace;
}
#crt {
  min-width: 80ch; /* This makes 80 monospace characters fit on the screen */
  /* height: calc(80ch * 0.8); */
  /* font-size: max(
    1rem,
    2.2vmin
  ); 
   */

  /* Scale the font-size relative to the minimum screen dimension */
  position: relative;
  background: var(--bg);
  background-image: radial-gradient(ellipse, var(--bg) 0%, var(--off) 90%);
  animation: on 2s linear;
  transition: all 0.5s;
}

#crt {
  position: relative;
  background: var(--bg);
  background-image: radial-gradient(ellipse, var(--bg) 0%, var(--dark) 90%);
  animation: on 2s linear;
  transition: all 0.5s;
  background: #05321e;
  background-image: radial-gradient(ellipse, var(--bg) 0%, var(--dark) 90%);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}
#crt:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0.1) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
  animation: fadeIn 2s;
}
#crt:after {
  content: ' ';
  opacity: 0;
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}
.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: scanline 10s linear infinite;
}

.header {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  background-color: rgba(0, 0, 0, 0.8);
}
.terminal {
  flex: 9;
}
.tools {
  flex: 3;
}
.tools a {
  margin: 0 10px;
}
.terminal {
  position: relative;
  height: 100%;
  padding: 0 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  text-transform: uppercase;
  animation: textShadow 4s infinite;
  display: flex;
  align-items: center;
  cursor: pointer;
}
[contenteditable] {
  caret-color: transparent; /** This hides the default browser caret */
  outline: none;
}
.terminal-input {
  white-space: pre-wrap;
  width: 100%;
}
.terminal-input:before {
  content: '> ';
}
.terminal-input[contenteditable='true']:after,
.typer.active:after {
  content: '■';
  animation: cursor 1s infinite;
  animation-timing-function: step-end;
  margin-left: 1px;
  line-height: 1rem;
}

/* *************
*              *
*    Layout    *
*              *
************* */
.about-container {
  width: 95%;
  margin: 0 auto 0;
  max-width: 1280px;
}
.about-col-1 {
  width: 60%;
  padding: 20px 40px;
}
.about-col-2 {
  width: 40%;
}
.about-col-2 img {
  max-width: 90%;
  margin: 10px auto;
  border: 1px solid var(--secondary-color);
  padding: 2px;
}
.social-container {
  display: flex;
  justify-content: space-evenly;
  scale: 0.8;
  width: 100%;
}

.social-container a:link,
.social-container a:visited {
  transition: opacity 0.5s;
  opacity: 0.65;
}
.social-container a:hover {
  transition: opacity 1s;
  opacity: 1;
}

.container {
  width: 96%;
  max-width: 1420px;
  margin: 0 auto;
}
.main {
  display: flex;
}
.row {
  display: flex;

  width: 100%;
  justify-content: center;
}
.col {
}
.col-2 {
  width: 50%;
}
.col > img {
  margin: 0 auto;
}

.selfie-container img {
  max-width: 80%;
  display: block;
  margin: 20px auto 2px;
  border: 1px solid var(--secondary-color);
  padding: 6px;
}

.personal-data {
  padding-top: 40px;
  max-width: 420px;
  width: 50%;
}

.singlePostWrapper input {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-color);
  border: none;
  border-bottom: 1px solid;
}
.singlePostWrapper input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}
.singlePostWrapper textarea {
}
/* GIT */

.github-container {
  display: flex;
  width: 75%;
  margin: 40px auto;
  flex-direction: column;
}
.github-container a:link,
.github-container a:visited {
  color: var(--primary-color);
}
.github-container a:hover {
  color: #fff;
}
.github-container h2,
.discogs-container h2 {
  margin: 10px 30px;
  border-bottom: 1px solid var(--secondary-color);
  padding: 4px 0;
}
.github-container .container {
  width: 96%;
}
.git-container .container span {
  display: flex;
  width: 100%;
  margin: 20px 0;
}
.commit-container {
  margin: 10px 0;
  align-items: center;
  display: flex;
}
.time {
  flex: 0 0 100px;
}

.commit-box {
  /* replace with js scrolling */
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
/* width */
.commit-box::-webkit-scrollbar,
.disc::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.commit-box::-webkit-scrollbar-track,
.disc::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.commit-box::-webkit-scrollbar-thumb,
.disc::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.commit-box::-webkit-scrollbar-thumb:hover,
.disc::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.commit-sha {
  flex: 0 0 80px;
}
.commit-msg {
  flex: 0 0 80%;
}

/* DISCOGS */

.discogs-container {
  width: 75%;
}
.disc {
  display: flex;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
.record-container {
  width: 150px;
  margin: 3px 6px;
}

.record-cover img {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 799px) {
  .row {
    flex-direction: column;
    width: 70%;
  }

  .col {
    width: 100%;
  }
}

@media only screen and (min-width: 1600px) {
  /* .row {
    flex-wrap: wrap;
  } */
}
