:root {
  --primary-color: #5bf870;
  --secondary-color: #25632d;
  --dark: #050505;
  --bg: #05321e;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--dark);
  color: var(--primary-color);
}

/* http://aleclownes.com/2017/02/01/crt-display.html */
#crt,
pre {
  font-family: 'VT323', monospace;
}
#crt {
  min-width: 80ch; /* This makes 80 monospace characters fit on the screen */
  /* height: calc(80ch * 0.8); */
  /* font-size: max(
    1rem,
    2.2vmin
  ); 
   */

  /* Scale the font-size relative to the minimum screen dimension */
  position: relative;
  background: var(--bg);
  background-image: radial-gradient(ellipse, var(--bg) 0%, var(--off) 90%);
  animation: on 2s linear;
  transition: all 0.5s;
}

#crt {
  position: relative;
  background: var(--bg);
  background-image: radial-gradient(ellipse, var(--bg) 0%, var(--dark) 90%);
  animation: on 2s linear;
  transition: all 0.5s;
  background: #05321e;
  background-image: radial-gradient(ellipse, var(--bg) 0%, var(--dark) 90%);
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 100%;
}
#crt:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0.1) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
  animation: fadeIn 2s;
}
#crt:after {
  content: ' ';
  opacity: 0;
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}
.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: scanline 10s linear infinite;
}

.terminal {
  position: relative;
  height: 100%;
  padding: 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  text-transform: uppercase;
  animation: textShadow 4s infinite;
}
[contenteditable] {
  caret-color: transparent; /** This hides the default browser caret */
  outline: none;
}
.terminal-input {
  position: relative;
  display: block;
  white-space: pre-wrap;
}
.terminal-input:before {
  content: var(--term);
}
.terminal-input[contenteditable='true']:after,
.typer.active:after {
  content: '■';
  animation: cursor 1s infinite;
  animation-timing-function: step-end;
  margin-left: 1px;
  line-height: 1rem;
}
