:root {
  --primary-color: #5bf870;
  --secondary-color: #2e7938;
  --dark: #050505;
  --bg: #05321e;
}
html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  font-size: 1.1em;
  line-height: 1.8em;
}
a {
  outline: none;
  text-decoration: none;
}
a:link,
a:visited {
  color: var(--secondary-color);
}
a:hover {
  color: var(--primary-color);
}
ul {
  padding: 0;
}
li {
  list-style: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  background-color: var(--dark);
  color: var(--primary-color);
}
blockquote {
  font-family: 'Andale Mono', 'Courier New', monospace;
  font-size: 17px;
  font-weight: 700;
  /* text-transform: uppercase; */
  letter-spacing: 0.1em;
  position: relative;
  border: 3px solid #3d3d3d;
  padding: 3.5em 2.5rem;
  margin: 0 auto;
  text-align: left;
  max-width: 460px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 13px 13px 0 0 #fff inset, 16px 16px 0 0 #a9a556;
  background-color: #f8f8f2;
  color: #000;
}

blockquote::before {
  content: '“';
  font-size: 4em;
  color: #222;
  position: absolute;
  top: 0.2em;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'georgia';
  pointer-events: none;
}

blockquote::after {
  content: '“';
  font-size: 4em;
  color: #222;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'georgia';
  pointer-events: none;
}

blockquote > * {
  margin: 0.75em 0;
}

blockquote cite {
  display: block;
  font-style: normal;
  font-size: 12px;
}
/* Old Monitor */

/* http://aleclownes.com/2017/02/01/crt-display.html */

#crt {
  font-family: Consolas, monaco, monospace;
  position: relative;
  background: var(--bg);
  background-image: radial-gradient(ellipse, var(--bg) 0%, var(--dark) 90%);
  width: 100%;
  min-height: 100%;
}
#crt:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    to bottom,
    rgba(18, 16, 16, 0.1) 50%,
    rgba(0, 0, 0, 0.25) 50%
  );
  background-size: 100% 8px;
  z-index: 2;
  pointer-events: none;
  animation: fadeIn 2s;
}
#crt:after {
  content: ' ';
  opacity: 0;
  background: #fff;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 3;
}
.scanline {
  width: 100%;
  height: 100px;
  z-index: 8;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(255, 255, 255, 0.2) 10%,
    rgba(0, 0, 0, 0.1) 100%
  );
  opacity: 0.1;
  position: absolute;
  bottom: 100%;
  pointer-events: none;
  animation: scanline 10s linear infinite;
}

/* Main Terminal */

.header {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0;
  align-items: center;
  border-bottom: 1px solid var(--secondary-color);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.terminal {
  flex: 9;
}
.tools {
  font-size: 20px;
  margin-right: 40px;
}
.tools a {
  margin: 0 10px;
}
.terminal {
  position: relative;
  height: 100%;
  padding: 0 2rem;
  overflow-y: auto;
  overflow-x: hidden;
  word-break: break-word;
  text-transform: uppercase;
  animation: textShadow 4s infinite;
  display: flex;
  align-items: center;
  cursor: pointer;
}
[contenteditable] {
  caret-color: transparent; /** This hides the default browser caret */
  outline: none;
}
.terminal-input {
  white-space: pre-wrap;
  width: 100%;
}
.terminal-input:before {
  content: '> ';
}
.terminal-input[contenteditable='true']:after,
.typer.active:after {
  content: '■';
  animation: cursor 1s infinite;
  animation-timing-function: step-end;
  margin-left: 1px;
  line-height: 1rem;
}

/* replace scrollbars */

.new-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
/* width */
.new-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.new-scroll::-webkit-scrollbar-track {
  background: rgb(23, 33, 26);
}

/* Handle */
.new-scroll::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
.new-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* *************
*              *
*    Layout    *
*              *
************* */

.container {
  margin: 0 auto;
  max-width: 1420px;
  width: 96%;
}

.welcome {
  padding: 40px 0;
  width: 94%;
  margin: 0 auto;
}
.welcome p {
  width: 96%;
  margin: 10px auto;
}
h2 {
  padding-left: 20px;
}

.header-container {
  padding: 20px 0;
  max-width: 1640px;
  display: flex;
  margin: 0 auto;
}

.site-summary {
  padding: 0 40px;
  width: 40%;
}

.blog .posts-container {
  height: 100%;
}

.posts {
  flex: 0 0 70%;
}
.posts-container {
  flex-wrap: wrap;
  justify-content: space-evenly;
  border-top: 1px dashed var(--primary-color);
  padding: 30px 0 0;
  height: 420px;
  overflow: auto;
}
.sub-heading {
  border-bottom: 1px dashed var(--secondary-color);
  padding-bottom: 20px;
  margin-bottom: 60px;
  grid-column-start: 1;
  grid-column-end: 3;
  text-align: center;
}
.terminalWindow {
  background: rgb(0, 0, 0, 0.2);
  border-bottom: 1px solid #000;
  width: 100%;
  position: relative;
  z-index: 100;
}
#targetOutput {
  height: 70px;
  padding: 10px;
  margin: 0 auto;
  max-width: 1420px;
  width: 80%;
}
#targetOutput h1 {
  font-size: 1.3em;
  text-align: center;
  margin: 0;
}
#targetOutput h2 {
  margin-bottom: 6px;
}
#targetOutput p {
  font-size: 1em;
  line-height: 1.6em;
  padding-right: 40px;
}
#textContainer {
  padding: 0 60px;
  margin: 0 auto;
  height: 100%;
  line-height: 4em;
}
.about-container {
  width: 95%;
  margin: 20px auto 40px;
  max-width: 1280px;
}
.about-col-1 {
  width: 60%;
  padding: 20px 40px;
}
.about-col-2 {
  width: 40%;
}
.about-col-2 img {
  max-width: 90%;
  margin: 10px auto;
  border: 1px solid var(--secondary-color);
  padding: 2px;
}
.social-container {
  display: flex;
  justify-content: space-evenly;
  scale: 0.8;
  width: 100%;
}

.social-container a:link,
.social-container a:visited {
  transition: opacity 0.5s;
  opacity: 0.65;
}
.social-container a:hover {
  transition: opacity 1s;
  opacity: 1;
}

.main {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  width: 100%;
}
.centered {
  justify-content: center;
}

.col-2 {
  width: 50%;
}
.col > img {
  margin: 0 auto;
}

.selfie-container img {
  max-width: 80%;
  display: block;
  margin: 20px auto 2px;
  border: 1px solid var(--secondary-color);
  padding: 6px;
}

.personal-data {
  padding-top: 10px;
  max-width: 420px;
  width: 50%;
}

.singlePostTitle {
  display: flex;
}
.singlePostEdit i {
  margin: 0 10px;
}
.singlePostWrapper input {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--primary-color);
  border: none;
  border-bottom: 1px solid;
}
.singlePostWrapper input:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: none;
}

/* Typist */
.cursor {
  opacity: 1;
  animation: blink 1s linear infinite;
  margin: 0 8px;
}
/* Post */

.post-wrapper > .content > iframe {
  display: inherit;
  margin: 40px auto;
}
.post-wrapper {
  width: 94%;
  margin: 0 auto 100px;
}
.posts-container .post {
  flex: 0 0 30%;
  padding: 20px 40px 30px 20px;
  border-bottom: 1px dashed var(--primary-color);
}

.post img,
.singlePost img {
  max-width: 100%;
}
/* GIT */

.github-chart {
  margin: 20px 0;
  width: 100%;

  text-align: center;
}
.github-chart img {
  min-width: 90%;
}
.github-container {
  display: flex;
  width: 75%;
  margin: 40px auto;
  flex-direction: column;
  align-items: baseline;
}
.github-container a:link,
.github-container a:visited {
  color: var(--primary-color);
}
.github-container a:hover {
  color: #fff;
}
.github-container h2,
.discogs-container h2 {
  margin: 10px 30px;
  border-bottom: 1px solid var(--secondary-color);
  padding: 4px 0;
}
.github-container .container {
  width: 96%;
}
.git-container .container span {
  display: flex;
  width: 100%;
  margin: 20px 0;
}
.commit-container {
  margin: 10px 0;
  align-items: center;
  display: flex;
}
.time {
  flex: 0 0 140px;
}

.commit-box {
  /* replace with js scrolling */
  max-height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
/* width */
.commit-box::-webkit-scrollbar,
.disc::-webkit-scrollbar,
.fp-images::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.commit-box::-webkit-scrollbar-track,
.disc::-webkit-scrollbar-track,
.fp-images::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.commit-box::-webkit-scrollbar-thumb,
.disc::-webkit-scrollbar-thumb,
.fp-images::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.commit-box::-webkit-scrollbar-thumb:hover,
.disc::-webkit-scrollbar-thumb:hover,
.fp-images::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.commit-sha {
  flex: 0 0 80px;
}
.commit-msg {
  flex: 0 0 80%;
}

/* MODAL */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms linear;
}

.modal.open {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms linear;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark);
  padding: 1rem;
  border-radius: 0.5rem;
}
.modal-content p.curse {
  text-align: center;
  padding: 0;
  margin: 0;
}
.modal-close {
  position: absolute;
  top: -1rem;
  right: -1rem;
  background: none;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 2em;
  cursor: pointer;
  opacity: 0.7;
}
.modal-close:hover {
  opacity: 1;
}

.fade {
  animation: fadein 0.5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* FOLK PHOTOGRAPHY */

.fp-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
.fp-img-container {
  width: 150px;
  margin: 3px 6px;
}
/* DISCOGS */

.discogs-container {
  width: 75%;
  margin: 0 auto 300px;
}
.disc,
.fp-images {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
.record-container {
  width: 150px;
  margin: 3px 6px;
}

.record-cover img {
  width: 100%;
}

/* Write Posts */

.write {
  padding-top: 50px;
}

.writeForm {
  width: 90%;
  margin: 0 auto;
}
.writeFormGroup {
  width: 90%;
  margin: 0 auto;
}

.tox-tinymce {
  margin: 20px auto;
  width: 80%;
}
.writeIcon {
  font-size: 20px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.writeInput {
  font-size: 28px;
  border: none;
  padding: 20px;
  width: 70vw;
}
.writeInput:focus {
  outline: none;
}
.writeText {
  margin-top: 20px;
  font-size: 20px;
}
.writeSubmit {
  width: 30%;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--primary-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
}
/* ***************
*                *
*    Settings    *
*                *
*************** */

.settings {
  display: flex;
}
.settingsWrapper {
  display: flex;
  flex: 9;
  flex-direction: column;
}
.settingsTitle {
  display: flex;
  justify-content: flex-end;
}
.settingsTitle span {
  margin: 0 20px;
}
.settingsPP {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.settingsForm {
  display: flex;
  flex-direction: column;
  padding: 0 60px;
}
.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}
.settingsForm > input {
  background-color: black;
  color: var(--secondary-color);
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid var(--primary-color);
}

/* ************
*             *
*    Login    *
*             *
************ */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 230px;
  margin: 0 auto;
}
.loginForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.loginForm > label {
  margin: 10px 0;
}

.loginInput {
  padding: 10px;
  border: none;
}
.loginButton {
  height: 40px;
  margin: 20px 0;
  cursor: pointer;
  background-color: var(--secondary-color);
}
.loginButton:hover {
  background-color: var(--primary-color);
}
.loginButton:disabled {
  cursor: not-allowed;
  background-color: bisque;
}

/* Animations */

@media only screen and (max-width: 799px) {
  .row {
    flex-direction: column;
    margin: 0 auto;
    width: 90%;
  }

  .col {
    width: 100%;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* MODAL */

.deep {
  display: flex;
  min-width: 90%;
  min-height: 90%;
}
.deepBkgd {
  min-width: 100%;
  background-size: cover;
  background-position: center;
}
.thought {
  max-width: 80%;
  margin: 40px 0 0 100px;
}
#targetOutput p.thought {
  font-family: 'Great Vibes', cursive;
  color: #000;
  font-size: 3vw;
}
@media only screen and (max-width: 799px) {
  .thought {
    margin: 30px 0 0 40px;
    max-width: 90%;
  }
  #targetOutput p.thought {
    font-size: 6vw;
  }
}
