:root {
  --primary-color: #5bf870;
  --secondary-color: #2e7938;
  --light: #c7e4cb;
  --lighter: #e3f0e5;
  --dark: #050505;
  --bg: #05321e;
}

a {
  outline: none;
  text-decoration: none;
}
a:link,
a:visited {
  color: var(--secondary-color);
}
a:hover {
  color: var(--primary-color);
}

/* TODO : This maybe a little excessive for the textured background.  I was trying to combine the gradient with the texture is reason for weird pseudo element here */

body {
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      to right,
      rgba(65, 67, 69, 0.3),
      rgba(35, 37, 38, 0.1)
    ),
    url('./../public/textures/dark-leather.png');
  z-index: -1;
}

/* #root {
  background-image: url('./../public/textures/gun-metal.png');
} */
.main-post-content,
.sidebar {
  background-image: url('./../public/textures/dark-leather.png') !important;
  padding: 40px;
}
.monitor {
  background-image: url('./../public/textures/gun-metal.png');
}
.post-list:befort {
  content: '  &gt; &nbsp;';
}
.sidebar {
  padding: 40px;
  background-color: #050505 !important;
}
/* Home Post */

.featured-img-container {
  width: 300px; /* Set your desired width */
  height: 0;
  padding-top: 65%; /* 4:3 aspect ratio (300 / 400 * 100) */
  position: relative;
  overflow: hidden;
}

.featured-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop the image to cover the container */
}

/* replace scrollbars */

.new-scroll {
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
/* width */
.new-scroll::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.new-scroll::-webkit-scrollbar-track {
  background: rgb(23, 33, 26);
}

/* Handle */
.new-scroll::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

/* Handle on hover */
.new-scroll::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}

/* FOLK PHOTOGRAPHY */

.fp-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  max-width: 100%;
}
.fp-img-container {
  width: 150px;
  margin: 3px 6px;
}
