.gamegrid {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
h1.games {
  text-align: center;
  padding: 0 0 20px;
  border-bottom: 1px dashed;
}
.game {
  display: flex;
  width: 45%;
  flex-direction: column;
  align-items: center;
}
.game img {
  max-width: 90%;
  margin: 0 auto;
  cursor: pointer;
  opacity: 0.7;
  border: 15px solid #000;
}
.game img:hover {
  opacity: 1;
}
.title {
  font-size: 1.4em;
  margin-bottom: 10px;
}
.game .description {
  padding: 20px;
}
.game-link {
  text-align: center;
  color: var(--primary-color);
  font-weight: 600;
}
@media only screen and (max-width: 799px) {
  .gamegrid {
    flex-direction: column;
  }
  .game {
    width: 96%;
    margin: 0 0 30px;
  }
}
