:root {
  --select-border: #777;
  --select-focus: rgb(40, 126, 47);
  --select-arrow: var(--select-border);
  --select-color: #1ec263;
}
.madlib {
  margin: 400px 0 0;
}
.madlib {
  margin: 400px 0 0;
}
.madlib select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
}
.custom-select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #1441da;
  background-image: linear-gradient(to top, #1f4eea, #b4c4f8 93%);
}
