#crt:before {
  content: none;
}
.writeFormGroup {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-upload label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.image-upload i {
  margin: 20px;
}

.writeFormGroup button {
  cursor: pointer;
  width: 300px;
  text-transform: uppercase;
  text-shadow: #000 1px 0 10px;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px 0;
}
.writeFormGroup button:hover {
  background-color: var(--primary-color);
}
