#crt:before {
  content: none;
}

.title-container input {
  width: 100%;
  margin: 0;
}
.writeFormGroup {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.image-upload label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.image-upload i {
  margin: 20px;
}

.writeFormGroup button {
  cursor: pointer;
  width: 300px;
  text-transform: uppercase;
  text-shadow: #000 1px 0 10px;
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px 0;
}
.writeFormGroup button:hover {
  background-color: var(--primary-color);
}
.button-container {
  display: flex;
  flex-direction: column;
}
.draft-container {
  display: flex;
  width: 100px;
}
.cat-chooser {
  display: flex;
  width: 100%;
  margin: 40px 0;
  padding: 20px;
  background: rgb(143 204 233 / 35%);
  justify-content: space-between;
  align-items: center;
}
.cat-chooser div {
  display: flex;
  flex-direction: column;
}
.cat-chooser select {
  width: 200px;
  margin-left: 30px;
  background-color: var(--secondary-color);
  color: var(--light);
}
.write button {
  margin: 60px auto;
}
.newCat {
  display: flex;
  height: 40px;
}
.catInput {
  width: 200px;
}
.newCat button {
  margin: 0 0 0 20px;
  padding: 0;
  width: 200px;
}
