@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

.jt {
  position: relative;
  font-size: 10vmin;
  font-family: 'Saira Stencil One', cursive;

  text-transform: uppercase;
  font-display: swap;
  /*   text-shadow: 0 0 10px tomato; */
}

.jt__row {
  display: block;
  width: 100%;
  text-align: center;
  margin-top: 50px;
}
.jt__row:nth-child(1) {
  clip-path: polygon(-10% 75%, 110% 75%, 110% 110%, -10% 110%);
}
.jt__row:nth-child(2) {
  clip-path: polygon(-10% 50%, 110% 50%, 110% 75.3%, -10% 75.3%);
}
.jt__row:nth-child(3) {
  clip-path: polygon(-10% 25%, 110% 25%, 110% 50.3%, -10% 50.3%);
}
.jt__row:nth-child(4) {
  clip-path: polygon(-10% 0%, 110% 0%, 110% 25.3%, -10% 25.3%);
}

.jt__row.jt__row--sibling {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
}
.jt__text {
  display: block;
  transform-origin: bottom left;
  animation: moveIn 8s 0s cubic-bezier(0.36, 0, 0.06, 1) alternate infinite;
}
.jt__row:nth-child(1) .jt__text {
  transform: translateY(-0.1em);
}
.jt__row:nth-child(2) .jt__text {
  transform: translateY(-0.3em) scaleY(1.1);
}
.jt__row:nth-child(3) .jt__text {
  transform: translateY(-0.5em) scaleY(1.2);
}
.jt__row:nth-child(4) .jt__text {
  transform: translateY(-0.7em) scaleY(1.3);
}
.jt__row:nth-child(5) .jt__text {
  transform: translateY(-0.9em) scaleY(1.4);
}
.jt__row:nth-child(6) .jt__text {
  transform: translateY(-1.1em) scaleY(1.5);
}

@keyframes moveIn {
  50%,
  100% {
    transform: translateY(0em);
  }
  0% {
    opacity: 0;
    filter: blur(10px);
  }
  22% {
    opacity: 0.8;
  }
  23% {
    opacity: 1;
  }
  24% {
    opacity: 0.5;
  }
  25% {
    opacity: 1;
  }
  32% {
    opacity: 0.9;
  }
  33% {
    opacity: 0.5;
  }
  34% {
    opacity: 0.8;
  }
  35% {
    opacity: 1;
  }
  36% {
    opacity: 0.7;
  }
  37% {
    opacity: 1;
  }
  40% {
    opacity: 0.8;
  }
  45% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.8;
  }
  55% {
    opacity: 0.6;
  }
  60% {
    opacity: 0.8;
  }
  65% {
    opacity: 0.6;
  }
  68% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
.delayed-display {
  animation: delayit 10s;
  animation-iteration-count: infinite;
  opacity: 0;
}
@keyframes delayit {
  0%,
  30% {
    opacity: 0;
  }

  70% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

.grid {
  max-width: 1600px;
  width: 90%;
  margin: 60px auto 0;
}
.grid img {
  padding: 10px 10px;
  cursor: pointer;
  width: 16%;
  background: #323b37;
  margin: 10px 10px 5px 10px;
}
.enter {
  text-align: center;
  font-size: 2rem;
  animation: cursor 1s infinite 2s step-end;
  margin: 60px 0 0;
}
.fullscreen {
  background-size: cover;
  background-position: top -150px right 50%;
  background-repeat: no-repeat;
  height: 100vh;
  min-height: 100%;
  margin-top: -80px;
  opacity: 0.7;
  margin-top: 40px;
}

.cards .grid img.matched {
  cursor: not-allowed;
}
.nickscage {
  display: flex;
  height: 400px;
  justify-content: space-around;
  align-items: center;
}
.nickscage img {
  animation: grow 12s ease-in-out infinite alternate;
}
.gameBoard {
  width: 100%;
  margin: 20px auto;
}
.scoreWrap {
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
}
.scoreBoard {
  position: fixed;
  left: 50%;
  margin-left: -175px;
  top: 10px;
  z-index: 101;
}
.scoreBoard h1 {
  margin: 0;
}
@keyframes grow {
  0% {
    transform: scale(20);
  }
  100% {
    transform: scale(2);
  }
}

/* .middle-card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.gameBoard img {
  position: relative;
  z-index: 1;
}
@keyframes orbit {
  from {
    transform: rotate(0deg) translate(0);
    opacity: 1;
  }
  to {
    transform: rotate(360deg) translate(200px);
    opacity: 0;
  }
} */

.fade-it {
  animation: disappear 2s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.middle-card {
  animation: caged 20s ease-in-out;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: absolute;
  left: 40%;
  bottom: 200px;
  z-index: 1;
}

@keyframes caged {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(18);
  }
}

.fade-it:nth-child(1) {
  animation-delay: 0s;
}
.fade-it:nth-child(2) {
  animation-delay: 0.5s;
}
.fade-it:nth-child(3) {
  animation-delay: 1s;
}
.fade-it:nth-child(4) {
  animation-delay: 3.5s;
}
.fade-it:nth-child(5) {
  animation-delay: 2s;
}
.fade-it:nth-child(6) {
  animation-delay: 2.5s;
}
.fade-it:nth-child(7) {
  animation-delay: 3s;
}
.fade-it:nth-child(8) {
  animation-delay: 2s;
}
.fade-it:nth-child(9) {
  animation-delay: 8s;
}
.fade-it:nth-child(10) {
  animation-delay: 4.5s;
}
.fade-it:nth-child(11) {
  animation-delay: 1s;
}
.fade-it:nth-child(12) {
  animation-delay: 5.5s;
}
.fade-it:nth-child(13) {
  animation-delay: 6s;
}
.fade-it:nth-child(14) {
  animation-delay: 4.5s;
}
.fade-it:nth-child(15) {
  animation-delay: 5s;
}
.fade-it:nth-child(16) {
  animation-delay: 2.5s;
}
.fade-it:nth-child(17) {
  animation-delay: 1s;
}
.fade-it:nth-child(18) {
  animation-delay: 6.5s;
}
.fade-it:nth-child(19) {
  animation-delay: 3s;
}

@keyframes disappear {
  0% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media only screen and (max-width: 900px) {
  .grid img {
    scale: calc(0.9);
    width: 25%;
    margin: 0;
    padding: 0;
  }
}
@media only screen and (max-width: 799px) {
  .scoreBoard {
    margin-left: -175px;
    top: 68px;
    left: 0;
    margin-left: 0;
    height: 50px;
    background: #000;
    width: 100%;
  }
}
