@font-face {
  font-family: 'gyparody';
  src: url('./gyparody.ttf') format('truetype');
}
@font-face {
  font-family: 'digital-7';
  src: url('./digital-7.ttf') format('truetype');
}
.trivia-board {
  display: flex;
  margin-top: 50px;
}
.trivia-board h1 {
  font-size: 0.9em;
  text-align: center;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  padding: 0 10px;
  background-color: var(--dark);
  text-transform: uppercase;
}
.trivia-board > div {
  width: 20%;
}

div.value {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  cursor: pointer;
}
.value:hover {
  background-color: var(--dark);
}
.trivia-container {
  width: 95%;
  margin: 20px auto 40px;
}

.qaBox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
}
.inactive {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 300ms, opacity 300ms linear,
    scale 500ms linear;
  scale: 0.5;
}

.active {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 300ms linear, scale 500ms linear;
  scale: 1;
  z-index: 9999;
}

.qaContent,
.correctamundo,
.nope,
.skipped,
.game-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--dark);
  padding: 1rem;
  border-radius: 0.5rem;
  padding: 40px 80px 80px;
  border: 1px solid var(--primary-color);
}
.question {
  line-height: 1.7em;
}
.answer {
  display: flex;
  padding: 20px 0;
  align-items: center;
  margin-top: 50px;
}
.answer > .terminal-input {
  margin-left: 20px;
  width: 50%;
  background-color: var(--secondary-color);
  display: block;
  padding: 8px;
}
.deactivated {
  pointer-events: none;
  background-color: var(--dark);
  text-decoration: line-through;
  color: var(--secondary-color);
}
.skipButton {
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.skipButton button {
  margin-left: 10px;
  cursor: pointer;
  width: 120px;
  padding: 10px;
  text-transform: uppercase;
  background-color: var(--bg);
  color: var(--secondary-color);
}
.skipButton button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.game-container {
  position: relative;
  max-width: 1460px;
  margin: 120px auto;
  padding: 0 40px;
}
.gameHeader {
  position: absolute;
  top: -55px;
  left: 40px;
  display: flex;
  width: calc(100% - 80px);
  background-color: var(--dark);
  z-index: 999;
  align-items: center;
  border: 1px solid;
}
.gameTitle {
  width: 250px;
  text-align: center;
  text-transform: uppercase;
  font-family: gyparody;
  font-size: 2em;
  letter-spacing: 0.1em;
}
.score {
  margin: 10px auto;
  min-width: 260px;
  text-align: center;
  font-family: digital-7;
  font-size: 1.6em;
}
.gameHeader button {
  background-color: var(--secondary-color);
  padding: 4px 0;
  cursor: pointer;
  text-transform: uppercase;
  margin: 0 25px 0 0px;
  flex: 0 0 180px;
  width: 180px;
  opacity: 0.8;
}
.gameHeader button:hover {
  background-color: var(--primary-color);
}
.loading {
  visibility: hidden;
  opacity: 0;
}
@media only screen and (max-width: 799px) {
  .gameHeader {
    top: -145px;
    width: 100%;
    flex-direction: column;
  }
  .trivia-board {
    margin-top: 160px;
  }
  .gameHeader button {
    margin: 0 0 20px;
    flex: auto;
  }
  .trivia-board > div {
    width: 30%;
  }
  .qaContent {
    top: 37%;
    left: 48%;
    padding: 20px 30px;
  }
  .game-modal {
    top: 30%;
    left: 61%;
  }
  .game-modal {
    padding: 30px;
  }
  .game-modal p {
    min-width: 180px;
  }
  .qaContent .heading {
    display: none;
  }
  .answer {
    flex-direction: column;
    margin-top: 10px;
    padding: 0;
    align-items: baseline;
  }
  .answer > .terminal-input {
    margin: 20px 0;
    width: 100%;
  }
}
button {
  color: var(--primary-color);
  cursor: pointer;
  text-transform: uppercase;
  width: 100%;
  background-color: var(--secondary-color);
  padding: 10px 0;
}
